.welcome-anchor{
    -fx-background-color: linear-gradient(to bottom, #0EBFE9, #E0EEEE);
}

.label {
    -fx-font-family: "Segoe UI", sans-serif; /* A clean and modern sans-serif font */
    -fx-font-weight: bold;
    -fx-color: #f2f2f2; /* Off-white color for a soothing effect */
}

.underline-text{
    -fx-underline: true;
}

.button-as-text {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.button-styled {
    -fx-background-color: rgba(128, 128, 128, 0.5);
    -fx-border-color: rgba(128, 128, 128, 0.5);
    -fx-border-width: 1px;
    -fx-text-fill: #FFFFFF;

}


.soft-edge-vbox {
    -fx-background-color: "white";
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 10;
}

.signup-button{
    -fx-padding:0.6em 2em;
    -fx-margin:1em;
    -fx-border-radius: 8px;
    -fx-text-fill:#fff;
    -fx-background-color:#0080A2;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-font-family: sans-serif;
}

.footer-pane {
    -fx-background-color: #87CEEB; /* Light gray */
}



